<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    </div>
    <div>
      <label for="confirmPassword">Confirmar Senha:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="password_confirmation" name="confirmPassword" required />
    </div>
    <button type="submit">Registrar</button>
  </form>

</div>
